// Path: src/pages/dashboard/Dashboard.scss

.dashboard {
  padding: 1rem;
}

.topics {
  display: flex;
  justify-content: space-evenly;
}

.group-content {
  font-size: 15px;
}

.title {
  font-size: 25px;
  font-weight: bold;
}
