// Path: src/pages/components/cards/EventCard.scss

.event-card h2 {
  margin-top: 0;
  color: white;
}

.event-card p {
  color: white;
  margin-bottom: 0;
  margin: 5px 0;
}

.event-card {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;

  &.upcoming {
    background-color: rgb(0, 139, 139);
  }
  &:hover {
    background-color: rgb(56, 186, 186);
  }

  &.past {
    background-color: rgb(223, 126, 21);
  }
}

.event-card-header {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: baseline;

  > * {
    margin: 0;
    line-height: normal;
  }

  p {
    margin: 0 10px;
  }
}

.delete-button {
  background-color: #f44336;
  color: white;
}
