// Path: src/pages/components/cards/GroupCard.scss

.group-card {
  background-color: rgb(0, 139, 139);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.group-card:hover {
  background-color: rgb(56, 186, 186);
}

.group-card h2 {
  margin-top: 0;
  color: white;
}

.group-card p {
  font-weight: normal;
  color: white;
  margin-bottom: 0;
  margin: 5px 0;
}
