// src/pages/group/UserCard.scss

.user-card-text-block {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.profile-picture {
  opacity: 85%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.user-info {
  font-size: 16px;
  padding-left: 1rem;
}

.user-card h2 {
  margin-top: 0px;
}

.user-card:hover {
  background-color: rgb(234, 201, 69);
}

.user-card:hover .profile-picture {
  opacity: 100%;
}
