// src/pages/group/GroupPage.scss

.group-page {
    padding-left: 2rem;
    padding-right: 2rem;
}

.members-positioning {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four equally sized columns */
  grid-gap: 20px; /* Adjust the gap between cards */
  justify-content: baseline;
}

.user-card {
  width: 100%;
  background-color: rgb(218, 178, 47);
  color: white;
  border-radius: 10px;
}