// Path: src/components/footer/Footer.scss

.footer {
  background-color: rgb(0, 139, 139);
  border-top: 1px solid #dbdbdb;
  padding: 0px 0;
  bottom: 0;
  width: 100%;

  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1010px;
    margin: 0 auto;
  }

  .footer-copy {
    color: #999;
    font-size: 0.9em;
  }
}
