html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

a {
  text-decoration: none;
  color: #333; /* Set default link color */
  transition: color 0.3s ease; /* Smooth color transition */

  &:hover {
    color: #ff66ad;
  }
}

/* App.scss */
.modal-container {
  display: flex;
  justify-content: space-around;
}

/* GroupForm.scss */
.group-modal {
  background-color: #f0f0f0;
  padding: 20px;
  width: 300px;
}

/* EventsForm.scss */
.events-modal {
  background-color: #f0f0f0;
  padding: 20px;
  width: 300px;
}

.landing-page {
  height: 100vh;
  background: linear-gradient(to right, #2d4d44, #d4cadf);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .full-width-image {
    background-image: url("../4.png");
    background-size: cover;
    background-position: center;
    height: 300px;
  }
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #ddd;
  }
}

.modal-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.modal {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  &-content {
    position: relative;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }
}
